# Example environment variables for running Routr on container environments
# including K8s.

USER_AGENT=Routr v1.0.0
IMAGE_VERSION=fonoster/routr:1.0.0-edge-20210512.1

DATA_SOURCE_PROVIDER=redis_data_provider
DATA_SOURCE_PARAMETERS=host=redis,port=6379

EXTERN_ADDR=134.209.38.11
LOCALNETS=
BIND_ADDR=
RECORD_ROUTE=true
REGISTRAR_INTF=Internal

REST_SERVICE_PORT=4567
REST_SERVICE_BIND_ADDR=0.0.0.0
REST_SERVICE_MIN_THREADS=8
REST_SERVICE_MAX_THREADS=200
REST_SERVICE_TIMEOUT_MILLIS=5000
REST_SERVICE_UNSECURED=false
REST_SERVICE_KEY_STORE=etc/certs/api-cert.jks
REST_SERVICE_KEY_STORE_PASSWORD=changeit
REST_SERVICE_TRUST_STORE=etc/certs/api-cert.jks
REST_SERVICE_TRUST_STORE_PASSWORD=changeit

ACCESS_CONTROL_LIST_DENY=
ACCESS_CONTROL_LIST_ALLOW=
SECURITY_CONTEXT_KEY_STORE=etc/certs/domains-cert.jks
SECURITY_CONTEXT_KEY_STORE_PASSWORD=changeit
SECURITY_CONTEXT_TRUST_STORE=etc/certs/domains-cert.jks
SECURITY_CONTEXT_KEY_STORE_TYPE=jks
SECURITY_CONTEXT_CLIENT_AUTH_TYPE=DisabledAll
SECURITY_CONTEXT_CLIENT_PROTOCOLS=[TLSv1.2, TLSv1.1, TLSv1]
SECURITY_CONTEXT_DEBUGGING=false
CONFIG_FILE=config/config.yml

# SALT_FILE=/path/private/key
SALT=changeit

EX_RTP_ENGINE_ENABLED=false
EX_RTP_ENGINE_PROTO=http
EX_RTP_ENGINE_HOST=localhost
EX_RTP_ENGINE_PORT=8080

EX_UNIQUE_GATEWAY_PER_HOST_PORT=true
EX_CONVERT_TEL_TO_E164=false

SIP_TCP_PORT=5060
SIP_UDP_PORT=5060/udp
SIP_TLS_PORT=5061
SIP_WS_PORT=5062
SIP_WSS_PORT=5063

RTPE_HTTP_PORT=8080
RTPE_NG_PORT=22222
RTPE_PORT_MIN=30000
RTPE_PORT_MAX=30100